@import "../../../../styles/colors.scss";

.main{
padding: 0.4rem;
}

.wrapper{
  padding: 12px 24px;
  width: 100%;
  border-radius: 12px;
  background-color: $color-3;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.deposit{
  margin-left: 5rem;
 font-size: 1.3rem;
}

.coinsIcon{
 margin-left: 0.1rem;
}

.timestamp{
  margin-left: auto;
  margin-right: 3rem;
  font-size: 1.3rem;

}