@import '../../../../styles/colors';

.main{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-2;
  width: 6.5rem;
  height: 7rem;
  border-radius: 0.4rem;
  padding: 0.4rem;
  margin: 0.5rem;

  transition: All 0.2s ease-in;
  -webkit-transition: All 0.2s ease-in;
  -moz-transition: All 0.2s ease-in;
  -o-transition: All 0.2s ease-in;

  @media (max-width: 480px) {
    width: 6rem;
    height: 6.5rem;
  }
}

.imageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rarity{
  position: relative;
  margin-bottom: -0.4rem;
  margin-left: 1.5rem;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3em;
  width: 2.5em;
  height: 0.35em;

  //border-top: 0.1em solid $color-4; /* Верхняя граница */
  //border-left: 0.1em solid $color-4; /* Левая граница */
  //border-right: 0.1em solid $color-4; /* Правая граница */

  &_common{
    background-color: $rarity-common;
  }

  &_uncommon{
    background-color: $rarity-uncommon;
  }

  &_rare{
    background-color: $rarity-rare;
  }

  &_ultraRare{
    background-color: $rarity-ultra-rare;
  }

  &_legendary{
    background-color: $rarity-legendary;
  }
}

.image{
  object-fit: cover;
  overflow: hidden;
  height: 4rem;
  pointer-events: none;
  user-select: none;

  @media (max-width: 480px) {
    height: 3.5rem;
  }
}

.nameWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.1rem;
}

.name{
  font-size: 0.7rem;
  width: fit-content;

  text-align: center;
  user-select: none;
}



.propertyListWrapper{
  position: absolute;
  margin-left: 4.5rem;
}

.propertyList{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.1rem;
}

.property {
  width: 1rem;         // Ширина квадратика
  height: 1rem;        // Высота квадратика
  display: flex;       // Используем Flexbox для центрирования содержимого
  align-items: center; // Центрирование по вертикали
  justify-content: center; // Центрирование по горизонтали
  font-size: 0.8rem;     // Размер шрифта для буквы
  color: white;        // Цвет текста внутри квадратика
  border-radius: 0.1rem;  // Скругление углов
  text-transform: uppercase; // Преобразование текста в верхний регистр
  user-select: none;

  &_neon {
    background-color: $property-neon; // Розовый цвет неона
    //box-shadow: 0 0 10px rgba(255, 0, 255, 0.7); // Эффект неона
  }

  &_megaNeon{
    background-color: $property-mega-neon; // Голубой цвет неона
    //box-shadow: 0 0 15px rgba(0, 255, 255, 0.7); // Эффект мега неона
  }

  &_flyable{
    background-color: $property-flyable; // Зеленый цвет
    //box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); // Эффект свечение
  }

  &_rideable{
    background-color: $property-rideable; // Желтый цвет
    //box-shadow: 0 0 10px rgba(255, 255, 0, 0.7); // Эффект свечение
  }
}

.priceWrapper{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1rem;
  margin-bottom: 0.5rem;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.price{
 font-size: 0.6rem;
}

.coinsIcon{
  font-size: 0.5rem;
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
}