.history {
    margin-bottom: 32px;
}

.title {
  margin-bottom: 4px;
}

.imageContainer {
}

.time {
    width: 180px;
}

.table {
  width: 100%;
  background-color: rgb(17, 17, 17);
  padding: 6px;
  border-radius: 12px;
}

.table__header {
  text-align: left;
}

.case {
  display: flex;
  align-items: center;
}

.case__image {
  width: 52px;
  height: 52px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item__image {
  width: 32px;
  height: 32px;
}

.properties {
  display: flex;
  align-items: center;
  gap: 2px;
}

.properties__icon {
  width: 18px;
  height: 18px;
  background-color: black;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  display: none;
  color: white;
}

.mega__neon {
  background: linear-gradient(180deg, rgba(168, 98, 216, 1) 0%, rgba(71, 10, 205, 1) 100%);
  display: flex;
}

.neon {
  background-color: #33d300;
  display: flex;
}

.flyable {
  background-color: #1a68e6;
  display: flex;
}

.ridible {
  background-color: #ff267b;
  display: flex;
}

.item__rarity {
  border: 2px solid;
  border-radius: 6px;
  padding: 1px;
}

.legendary {
  border-color: rgb(255, 193, 70);
}

.ultraRare {
  border-color: rgb(255, 60, 53);
}

.rare {
  border-color: rgb(149, 18, 255);
}

.uncommon {
  border-color: rgb(107, 222, 53);
}

.common {
  border-color: rgb(0, 225, 224);
}

.payments__control {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.control__manage {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 2px;
}

.page__button {
  background-color: rgb(17, 17, 17);
  padding: 4px 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.control__search {
  border: none;
  outline: none;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: rgb(17, 17, 17);
}

.control__sorting {
  border: none;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
}
