@import '../../styles/colors';

.main{
 @media (max-width: 480px) {
   width: 100vw;
   overflow: scroll;
 }
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-2;
  border-radius: 1.5rem;
  margin-left: 8rem;
  margin-top: 0.5rem;
  width: 60rem;
  height: 4rem;

  &_icon{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;


    font-size:1.5rem;
    font-weight: 700;
    color:$color-4;

    width:3rem;
    height:3rem;

    line-height:1rem;
    text-align:center;
    border-radius: 1rem;

    //background-color: lightgrey;

    //width: 8rem;
    //height: 8rem;
    //border-radius: 2rem;
    background-color: $color-3;
  }

  &_nickname{
    margin-left: 1rem;
  }

  &:hover{
    background-color: $color-3;
    cursor: pointer;
  }
}

.header{
  font-size: 2.5em;
  margin-top: 1em;
  margin-left: 8rem;

  @media (max-width: 480px) {
    font-size: 1.75rem;
    margin-left: 2rem;
    margin-top: 2.7rem;
  }
}