@import "../styles/fonts.scss";
@import '../styles/colors.scss';

.application {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  position: relative;
  background-color: $main-color;
}

.glow {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  &_wrapper {
    position: absolute;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    border-radius: 100%;
    opacity: 30%;
    background: -o-linear-gradient(124deg, $color-6, #098003);
    background: linear-gradient(326deg, $color-6, #098003);
    background-size: 400% 400%;
    -webkit-animation: lightAnimation 5s ease-in-out infinite;
    animation: lightAnimation 5s ease-in-out infinite;
    width: 1000px;
    height: 1000px;
    background-color: $color-6;
  }

  &_top {
    top: -300px;
    left: -300px;
  }

  &_bottom {
    bottom: -300px;
    right: -300px;
  }
}

@-webkit-keyframes lightAnimation {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@keyframes lightAnimation {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}
