.dashboard {
    padding: 12px 12px;
}

.dashboard__statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.block {
    position: relative;
    background-color: rgb(17, 17, 17);
    padding: 12px 24px;
    border-radius: 8px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.block__title {
    font-size: 18px;
    color: grey;
}

.block__count {
    font-weight: 700;
    font-size: 28px;
}

.block__icon {
    position: absolute;
    right: 18px;
    bottom: 6px;

    & svg {
        width: 32px;
        height: 32px;
        opacity: .5;
    }
}

.list__container {
    background-color: rgb(17, 17, 17);
    padding: 0 24px;
    border-radius: 12px;
}

.number {
    font-size: 14px;
}

.popular {
    padding: 0 12px;
    &__title {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__case {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        
        position: relative;
    }
}

.case {
    &__info {
        display: flex;
        align-items: center;
        gap: 12px;

        & img {
            width: 64px;
            height: 64px;
        }
    }
}

.statistic {
    display: flex;
    align-items: center;
    gap: 32px;
}

.statistic__count {
    & svg {
        width: 16px;
        height: 16px;
    }
}

.statistic__price {
    & svg {
        width: 16px;
        height: 16px;
    }
}

.case__items {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.case__list {
    display: flex;
    align-items: center;
    gap: 4px;

}

.case__item {
    border: 2px solid black;
    padding: 2px;
    border-radius: 6px;
    & img {
        width: 32px;
        height: 32px;
    }
}

.payments__control {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.control__manage {
    display: flex;
    align-items: center;
    gap: 6px;

}

.pagination {
    display: flex;
    align-items: center;
    gap: 2px;
}

.page__button {
    background-color: rgb(17, 17, 17);
    padding: 4px 6px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.control__search {
    border: none;
    outline: none;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgb(17, 17, 17);
}

.control__sorting {
    border: none;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgb(17, 17, 17);
    cursor: pointer;
    
}