@import '../../../../styles/colors';

.main{
  margin-left: 8rem;
  align-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: $color-3;

  /*    width: 100%;
      padding-bottom: 1rem;*/


  margin-top: 1rem;
  width: 60rem;
  height: 3.3rem;


  border-radius: 1rem;

  @media (max-width: 480px) {
    margin-left: 0.5rem;
    width: 90vw;
    justify-self: center;
  }
}

.input{
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0.2rem 1rem;
  width: 52rem;
  height: 1.9rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;

  @media (max-width: 480px) {
    height: 1.6rem;
    width: 95%;
    margin-left: 1rem;
  }
}

@media (max-width: 480px) {
  input::placeholder {
    color: transparent; /* Делаем текст невидимым */
  }
}

.iconWrapper{
  display: flex;
  justify-content: center;
  width: 5rem;
  cursor: pointer;
}

.icon{
  color: $color-5;
}