@import "../../../styles/colors";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: $color-1; /* Цвет фона страницы */
}

.messageBox {
  padding: 8rem;
  border-radius: 1rem;
  background-color: $color-2; /* Цвет фона сообщения */
  color: $color-5; /* Цвет текста */
  text-align: center;
}

.header {
  font-size: 2rem;
  margin-bottom: 10px;
}

.message {
  font-size: 1rem;
}


.button {
  align-self: center;
  margin-top: 2rem;
  color: $color-5;
  font-size: 1rem;
  font-weight: 700;
  background-color: $color-3;
  outline: none;
  border: none;
  font-family: 'Rubik', sans-serif;
  border-radius: 1rem;
  width: 12rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-6;
  }

  &:active {
    opacity: 60%;
  }
}