@import "../../../../styles/colors.scss";


.main{
  background-color: $color-1;
  border-radius: 1rem;
  padding: 2rem;
  width: 25rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
 font-size: 1.5rem;
  text-align: center;
}

.button{
  margin-top: 3rem;
  font-size: 1.5rem;
  outline: none;
  background: $color-3;
  color: $right-green;
  border: none;
  padding: 0.3rem 1.5rem;
  height: 2rem;
  border-radius: 0.7rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}