@import '../../styles/colors';
@import "../../styles/fonts";

.logotype {
  font-family: 'Fugaz', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-left: 28px;
  position: absolute;
  width: 10em;

  margin-top: 1em;
  margin-left: 1em;

  &::before {
    position: absolute;
    left: 0;
    content: '';
    width: 36px;
    height: 36px;
    background-image: url('../../assets/images/logotype.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.section {
  border-radius: 1em;
  background-color: $color-2;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 3em 2em 3em;
}

.header {
  margin-bottom: 1em;
  align-self: center;
  color: $color-5;
}

.form {
  width: 20em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.label {
  display: none;
}

.inputWrapper {
  margin-bottom: 0.5em;
}

.input {
  margin-bottom: 0.5em;
  width: 22em;
  height: 2em;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  border-radius: 0.5em;
  font-family: 'Rubik', sans-serif;
  color: $color-1;
  background-color: $color-5;
  transition: all 0.2s ease-in;

  &:focus {
    outline: none;
  }
}

.button {
  align-self: center;
  margin-top: 2em;
  color: $color-5;
  font-size: 1em;
  font-weight: 700;
  background-color: $color-3;
  outline: none;
  border: none;
  font-family: 'Rubik', sans-serif;
  border-radius: 1em;
  width: 7em;
  height: 3em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-6;
  }

  &:active {
    opacity: 60%;
  }
}


.errorMessage {
  align-content: center;
  min-height: 2em;
  font-size: 0.8em;
  padding: 0.4em;
  background-color: $wrong-red;
  border-radius: 0.5em;
  transition: all 0.2s ease-in;
}

.errorMessageHidden {
  display: none;
}
