@import '../../styles/colors.scss';

.payment {
  width: 80%;
  align-self: center;
  margin-top: 2rem;

  @media (max-width: 480px) {
    height: auto;
    min-height: 75vh;
  }

  &_header {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-bottom: 32px;

    @media (max-width: 480px) {
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &_icon {
    width: 32px;
    height: 32px;
    fill: $color-5;

    @media (max-width: 480px) {
      width: 26px;
      height: 26px;
    }
  }

  &_title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  &_wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 1.5rem;
    background-color: $color-3;

    @media (max-width: 480px) {
      margin-top: 3rem;
      width: 110%;
      justify-self: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.left {
  width: 100%;
  border-radius: 10px;
}

.methods {
  display: flex;
  flex-wrap: wrap;
  margin-top: -6px;

  margin-bottom: 24px;
}

.right {
  max-width: 516px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.selected {
  padding: 14px 20px;

  background-color: $color-2;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &_method {
    display: flex;
    flex-direction: column;
  }

  &_title {
    text-transform: uppercase;
    font-size: 12px;
  }

  &_option {
    font-weight: 500;
  }

  &_picture {
    width: 52px;
    height: 52px;
    background-color: $color-6;
  }
}

.promocode {
  padding: 14px 20px;
  background-color: $color-2;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  @media (max-width: 480px) {
    padding: 10px 16px;
    flex-wrap: wrap;
    gap: 2px;
    overflow: hidden;
  }

  &_field {
    display: flex;
    align-items: center;

    position: relative;


    @media (max-width: 480px) {
      flex: 1; // Займет доступное пространство
      min-width: 0;
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  &_confirm {
    font-weight: 500;
    text-transform: uppercase;
    background-color: $color-6;
    border-radius: 5px;
    height: 100%;
    width: 100px;

    @media (max-width: 480px) {
      font-size: 12px;
      height: 90%;
      width: 90px;
    }

    &:hover{
      opacity: 90%;
    }
  }
}

.field {
  background-color: $color-2;
  border-radius: 5px;
  height: 52px;
  flex: 1;
  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;

  &_icon {
    width: 20px;
    height: 20px;
    fill: $color-4;
  }

  &_input {
    background: transparent;
    outline: 0;
    border: none;
    width: 20rem;

    font-size: 16px;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}

.refill {
  padding: 14px 20px;
  background-color: $color-2;
  border-radius: 10px;

  @media (max-width: 480px) {
    padding: 10px 16px;
  }

  &_icon {
    width: 20px;
    height: 20px;

    & path {
      stroke: $color-4;
    }
  }

  &_field {
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: $color-2;
    border-radius: 5px;
    height: 52px;
    flex: 1;
    position: relative;
  }

  &_left {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  &_convert {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    fill: $color-5;
  }

  &_right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &_total {
    font-weight: 500;
  }

  &_input {
    width: 25rem;
    background: transparent;
    border: none;
    font-size: 16px;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}

.selectors {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  &_button {
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
    background-color: $color-3;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $color-6;
    }
  }
}

.recharge {
  //margin-left: auto;
  //margin-right: auto;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: $color-6;
  border-radius: 10px;
  padding: 20px 0;

  &_title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  &_icon {
    width: 25px;
    height: 25px;
    fill: $color-5;

    @media (max-width: 480px) {
      width: 22px;
      height: 22px;
    }
  }

  &:hover{
    opacity: 90%;
  }
}

.history{
  margin-top: 2rem;

  width: 100%;
  height: fit-content;
  border-radius: 12px;
  position: relative;

  background-color: $color-2;
}

.header {

  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    width: 110%;
    justify-self: center;
  }

  &_wrapper {
    background-color: $color-2;
    border-radius: 10px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

  &_button {
    padding: 12px 24px;
    width: 100%;
    border-radius: 12px;
    background-color: $color-3;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;

    transition: all .3s ease;

    //&:hover  {
    //    background-color: $color-4;
    //}
    //
    //&:hover .header_icon path {
    //    fill: $color-5;
    //}

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

    }

    & span {
      color: $color-4;

      transition: all .3s ease;
    }

    //&:hover span {
    //    color: $color-5;
    //}
  }

  &_icon {
    width: 24px;
    height: 24px;

    & path {
      transition: all .3s ease;
      fill: $color-4;
    }
  }

  &_subtitle {
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}
