@import '../../../../styles/colors';

.petCard{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-2;
  width: 8em;
  height: 10em;
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;

  transition: All 0.2s ease-in;
  -webkit-transition: All 0.2s ease-in;
  -moz-transition: All 0.2s ease-in;
  -o-transition: All 0.2s ease-in;

  &:hover{
    background-color: $color-3;
  }

  &_active{
    background-color: $color-3;
  }

  //@media (max-width: 480px) {
  //  width: 5em;
  //  height: 7em;
  //}
}

//.pet:hover .image {
//  transform: scale(1.1);
//
//  transition: All 0.2s ease-in;
//  -webkit-transition: All 0.2s ease-in;
//  -moz-transition: All 0.2s ease-in;
//  -o-transition: All 0.2s ease-in;
//}

.imageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rarity{
  //position: relative;
  //margin-bottom: -1em;
  //border-top-right-radius: 0.2em;
  //border-top-left-radius: 0.2em;
  //width: 2em;
  //height: 0.3em;
  border-style: solid;

  //border-top: 0.1em solid $color-4; /* Верхняя граница */
  //border-left: 0.1em solid $color-4; /* Левая граница */
  //border-right: 0.1em solid $color-4; /* Правая граница */

  &_common{
    border-color: $rarity-common;
  }

  &_uncommon{
    border-color: $rarity-uncommon;
  }

  &_rare{
    border-color: $rarity-rare;
  }

  &_ultraRare{
    border-color: $rarity-ultra-rare;
  }

  &_legendary{
    border-color: $rarity-legendary;
    //background-color: black;
  }
}

.image{
  object-fit: cover;
  overflow: hidden;
  height: 6em;
  pointer-events: none;
  user-select: none;
}

.nameWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.name{
  width: fit-content;
  margin: auto;
  text-align: center;
  user-select: none;
}

.propertyListWrapper{
  position: absolute;
  margin-left: 7rem;
}

.propertyList{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}

.property {
  width: 1.3rem;         // Ширина квадратика
  height: 1.3rem;        // Высота квадратика
  display: flex;       // Используем Flexbox для центрирования содержимого
  align-items: center; // Центрирование по вертикали
  justify-content: center; // Центрирование по горизонтали
  font-size: 1rem;     // Размер шрифта для буквы
  color: white;        // Цвет текста внутри квадратика
  border-radius: 0.2rem;  // Скругление углов
  text-transform: uppercase; // Преобразование текста в верхний регистр
  user-select: none;

  &_neon {
    background-color: $property-neon; // Розовый цвет неона
    //box-shadow: 0 0 10px rgba(255, 0, 255, 0.7); // Эффект неона
  }

  &_megaNeon{
    background-color: $property-mega-neon; // Голубой цвет неона
    //box-shadow: 0 0 15px rgba(0, 255, 255, 0.7); // Эффект мега неона
  }

  &_flyable{
    background-color: $property-flyable; // Зеленый цвет
    //box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); // Эффект свечение
  }

  &_rideable{
    background-color: $property-rideable; // Желтый цвет
    //box-shadow: 0 0 10px rgba(255, 255, 0, 0.7); // Эффект свечение
  }
}

.petAdd{
  align-self: center;
  justify-self: center;
  flex-grow: 1;
  padding: 1.5rem;
}

.priceWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price{

}

.coinsIcon{
margin-left: 0.4rem;
}