@import "../../../../../styles/colors";

.profile {
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    height: 3rem;
    background-color: $color-3;
    border-radius: 8px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &_icon {
        scale: 120%;
    }
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $color-6;
    }

}

@media (max-width: 916px) {
    .profile {
        width: 46px;
        height: 46px;
        margin-left: 14px;
    }
}

@media (max-width: 416px) {
    .profile {
        width: 40px;
        height: 40px;
        margin-left: 8px;
    }
}

.text{
 margin-left: 0.5rem;
}