@import "../../../../../styles/colors";

.online {
    display: flex;
    align-items: center;


    &_icon {
        width: 20px;
        height: 20px;
        fill: $color-5;

        margin-right: 4px;
    }
}