.add {
  background-color: rgba(0, 0, 0, 0.567);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 36px);

  display: flex;
  align-items: center;

  &__container {
    padding: 12px;
    position: relative;
    background-color: white;
    width: 400px;
    height: 420px;
    border-radius: 12px;
    margin: 0 auto;
  }

  &__title {
    color: rgb(17, 17, 17);
    margin-bottom: 12px;
  }
}

.button__close {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  color: rgb(17, 17, 17);
  top: 12px;
  right: 24px;
  z-index: 1;
}

.promocode {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.promocode__block {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & input {
        background-color: rgb(17, 17, 17);
        border-radius: 6px;
        padding: 10px 16px;
        border: none;
        &:focus {
            outline: none;
        }
    }

    & span {
        color: rgb(17, 17, 17);
    }
}

.promocode__infinite {
    display: flex;
    gap: 6px;
    margin: 12px 0;
    align-items: center;

    & span {
        color: rgb(17, 17, 17);
    }
}

.button__add {
    position: absolute;
    background-color: rgb(17, 17, 17);
    padding: 10px 32px;
    right: 12px;
    bottom: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}