.table {
  width: 100%;
  background-color: rgb(17, 17, 17);
  padding: 6px;
  border-radius: 12px;
}

.header {
}

.time {
  width: 180px;
}

.title {
  margin-bottom: 12px;
}

.body {
  & td {
    padding: 4px 0;
  }
  &__status {
    & span {
      border: 1px solid;
      display: inline-block;
      padding: 2px 6px;
      border-radius: 6px;
    }
  }
}

.success {
  border: green;
  color: green;
}

.failed {
  border: red;
  color: red;
}

.pending {
  border: orange;
  color: orange;
}

.table__header {
  text-align: left;
}

.payments__control {
  margin-top: 12px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.control__manage {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 2px;
}

.page__button {
  background-color: rgb(17, 17, 17);
  padding: 4px 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.control__search {
  border: none;
  outline: none;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: rgb(17, 17, 17);
}

.control__sorting {
  border: none;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
}
