@import '../../../styles/colors.scss';

.backward {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 42px;
    padding: 0 16px;
    background-color: $color-2;
    border-radius: 6px;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-3;
    }

    &_title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }

    &_icon {
        width: 16px;
        height: 16px;
        fill: $color-5;
    }
}