@import '../../../styles/colors.scss';

.header {
  padding: 6px 24px;
  background-color: $header-color;
  border-radius: 0 0 10px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 100%;

  &_right {
    display: flex;
    align-items: center;
  }

  &_control {
    display: flex;
    align-items: center;
  }

  &_start {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.icon_button {
  background: none;
  width: 28px;
  
}

//* Стили для кнопки авторизации
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 16px;
  border-radius: 6px;

  background: #2a2c36;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgb(11, 172, 11);
  }

  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

}

@media (max-width: 916px) {
 .header {
  
 }   
}
