@import "../../../../styles/colors.scss";

.main{
  margin-left: 4rem;
  margin-right: 2rem;
  animation-fill-mode: none;
  background-color: $color-3;
  height: 0.1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2rem;

  @media (max-width: 480px) {
    width: 75vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "userWrapper"
      "nameWrapper"
      "createdAt"
      "cancelIcon";
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    gap: 1rem; /* Задает отступы между элементами */
    justify-items: center; /* Горизонтальное центрирование элементов */
    align-items: center;
  }
}

.userWrapper{
  @media (max-width: 480px) {
    grid-area: userWrapper;
    margin-right: 0;
    margin-left: 0;
  }
}

.property {
  width: 2rem;         // Ширина квадратика
  height: 2rem;        // Высота квадратика
  display: flex;       // Используем Flexbox для центрирования содержимого
  align-items: center; // Центрирование по вертикали
  justify-content: center; // Центрирование по горизонтали
  font-size: 1.2rem;     // Размер шрифта для буквы
  color: white;        // Цвет текста внутри квадратика
  border-radius: 0.5rem;  // Скругление углов
  text-transform: uppercase; // Преобразование текста в верхний регистр
  user-select: none;
  margin-right: 0.2rem;

  &_neon {
    background-color: $property-neon; // Розовый цвет неона
    //box-shadow: 0 0 10px rgba(255, 0, 255, 0.7); // Эффект неона
  }

  &_megaNeon{
    background-color: $property-mega-neon; // Голубой цвет неона
    //box-shadow: 0 0 15px rgba(0, 255, 255, 0.7); // Эффект мега неона
  }

  &_flyable{
    background-color: $property-flyable; // Зеленый цвет
    //box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); // Эффект свечение
  }

  &_rideable{
    background-color: $property-rideable; // Желтый цвет
    //box-shadow: 0 0 10px rgba(255, 255, 0, 0.7); // Эффект свечение
  }
}

.nameWrapper{
 margin-left: 1rem;
  margin-right: 5rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 480px) {
    grid-area: nameWrapper;
    margin-left: 0;
    margin-right: 0;
  }
}

.name{
 font-size: 1.1rem;
}

.propertyList{
  margin-left: auto;
 display: flex;
  flex-direction: row;
}

.createdAt{
  margin-left: auto;
  font-size: 1.1rem;

  @media (max-width: 480px) {
    grid-area: createdAt;
    margin-right: 0;
    margin-left: 0;
  }
}

.cancelIcon{
  font-size: 1.4rem;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  @media (max-width: 480px) {
    grid-area: cancelIcon;
    margin-right: 0;
    margin-left: 0;
  }

  &:hover {
    & path{
      fill: $wrong-red;
    }
  }
}