.promocodes {
    padding: 12px;
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__add {
        border: none;
        border-radius: 6px;
        padding: 8px 24px;
        cursor: pointer;
        background-color: rgb(7, 146, 7);
        transition: .2s;

        &:hover {
            background-color: rgb(16, 161, 16);
        }
    }
}

.body__buttons {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 164px;

    & button {
        border: none;
        border-radius: 6px;
        padding: 4px 16px;
        cursor: pointer;
    }
}

.button__stop {
    background-color: rgb(212, 147, 17);
}

.button__delete {
    background-color: rgb(213, 22, 22);
}







.table {
    background-color: rgb(17, 17, 17);
    padding: 12px;
    border-radius: 12px;
    margin-top: 12px;
    width: 100%;
}

.head {
    & th {
        text-align: left;
    }
}

.payments__control {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.control__manage {
    display: flex;
    align-items: center;
    gap: 6px;

}

.pagination {
    display: flex;
    align-items: center;
    gap: 2px;
}

.page__button {
    background-color: rgb(17, 17, 17);
    padding: 4px 6px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.control__search {
    background-color: rgb(17, 17, 17);
    border: none;
    outline: none;
    padding: 4px 6px;
    border-radius: 6px;
}

.control__sorting {
    border: none;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgb(17, 17, 17);
    cursor: pointer;
    
}