$color-1: #17171f;
$color-2: #1b1c24;
$color-3: #2a2c36;
$color-4: #747686;
$color-5: #f1f1f6;
//$color-6: #3fc252;
$color-6: #6fbc75;

$wrong-red: #ff6767;
$neutral-orange: #f4a261;
$right-green: #6fbc75;


$link-blue: #1a68e6;

$rarity-common: #4891ff;
$rarity-uncommon: #7e10d4;
$rarity-rare: #40bb18;
$rarity-ultra-rare: #e51a2e;
//$rarity-legendary: #1e1e1e;
$rarity-legendary: black;


$light: #f4f4f4;
$dark: #313131;
$background: #222222;

$auth-background: #404258; 
$auth-button: rgb(11, 164, 13);
$auth-button-hover: rgb(9, 124, 11);

$sidebar-background: #1c1c1c;
$sidebar-item-hover: #101010;