$light: #f4f4f4;
$dark: #313131;
$background: #222222;

$auth-background: #404258; 
$auth-button: rgb(11, 164, 13);
$auth-button-hover: rgb(9, 124, 11);

$sidebar-background: #1c1c1c;
$sidebar-item-hover: #101010;