@import "../../../styles/colors.scss";

//* Стилизация закрытого контента
.closed {
    position: absolute;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $color-6, $alpha: 0.8);
    backdrop-filter: blur(5px);
    z-index: 2;

    &_content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_icon {
        width: 25px;
        height: 25px;
        margin-right: 16px;

        & path {
            stroke: $color-5;
        }
    }
}