@import "../../../../styles/colors.scss";

.main{
  display: grid;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;
}

.petCard{
  cursor: pointer;
  &:hover{
    background-color: $color-1;
  }
}