.output {
    margin-bottom: 32px;
}

.table {
    background-color: rgb(17, 17, 17);
    border-radius: 6px;
    padding: 6px;
    width: 100%;
}

.head {
    & th {
        text-align: left;
    }

    &__items {
        text-align: center !important;
    }
}

.info {
    width: 156px;
    &__container {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__image {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 6px;
    }
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.item {
    display: flex;
    align-items: center;
    gap: 4px;
    &__image {
        width: 32px;
        height: 32px;
        padding: 2px;
        border-radius: 6px;
        border: 1px solid;
    }
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &__block {
        width: 6px;
        height: 6px;
        border-radius: 1px;
        background-color: grey;
    }
}

.mega {
    background-color: rgba(168, 98, 216, 1);
}

.neon {
    background-color: #33d300;
}

.ridible {
    background-color: #1a68e6;
}

.flyable {
    background-color: #ff267b;
}

.time {
    width: 172px;
}

.history {
    
}

.payments__control {
    margin-top: 12px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
  }
  
  .control__manage {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .page__button {
    background-color: rgb(17, 17, 17);
    padding: 4px 6px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  .control__search {
    border: none;
    outline: none;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgb(17, 17, 17);
  }
  
  .control__sorting {
    border: none;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgb(17, 17, 17);
    cursor: pointer;
  }