@import "../../../styles/colors";

.sound {
    position: relative;
    width: 64px;
    height: 42px;
    background-color: $color-1;
    border-radius: 6px;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-3;
    }


    & svg {
        width: 16px;
        height: 16px;
        
        & path {
            fill: $color-5;
        }
    }
}