@import "../../styles/colors";

.privacy {
  width: 100%;
  padding: 12px 42px 42px 42px;

  @media (max-width: 480px) {
    padding: 12px 16px;
  }

  &_header {
    display: flex;
    justify-content: center;

    margin-bottom: 24px;

    @media (max-width: 480px) {
      margin-bottom: 16px;
    }
  }

  &_title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 22px;
    }
  }

  &_wrapper {
    & ol {
      list-style: none;
      counter-reset: li;

      & li {
        & ol {
            margin-top: 10px;
            padding-left: 20px;

          @media (max-width: 480px) {
            padding-left: 16px;
          }
        }
      }
    }
    & li:before {
      color: $color-6;
      counter-increment: li;
      content: counters(li, '.') '. ';
      line-height: 1.5;
      margin-bottom: 10px;

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }

    & li div {
        margin-bottom: 10px;
        display: inline-block;
    }
  }
}

.privacy_item {
    margin-bottom: 10px;

  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

.privacy_paragraph {
    font-weight: 500;

  @media (max-width: 480px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
