.inventory {
    margin-bottom: 32px;
}

.table {
    width: 100%;
    background-color: rgb(17, 17, 17);
    padding: 6px;
    border-radius: 12px;
}

.head {
    & th {
        text-align: left;
    }
}

.item {

}

.info {
    &__container {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__image {
        width: 42px;
        height: 42px;
        border-radius: 6px;
        padding: 2px;
        border: 1px solid;
    }

    &__buttons {
        width: 156px;
    }
}


.button__delete {
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: rgb(211, 49, 49);
    transition: .2s;
    cursor: pointer;

    &:hover {
        background-color: rgb(182, 36, 36);
    }
}

.payments__control {
  margin-top: 12px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.control__manage {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 2px;
}

.page__button {
  background-color: rgb(17, 17, 17);
  padding: 4px 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.control__search {
  border: none;
  outline: none;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: rgb(17, 17, 17);
}

.control__sorting {
  border: none;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
}

.properties {
  display: flex;
  align-items: center;
  gap: 2px;
}

.properties__icon {
  width: 18px;
  height: 18px;
  background-color: black;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  display: none;
  color: white;
}

.mega__neon {
  background: linear-gradient(180deg, rgba(168, 98, 216, 1) 0%, rgba(71, 10, 205, 1) 100%);
  display: flex;
}

.neon {
  background-color: #33d300;
  display: flex;
}

.flyable {
  background-color: #1a68e6;
  display: flex;
}

.ridible {
  background-color: #ff267b;
  display: flex;
}
